---
title: Events
description: South Maroubra Dolphins Winter Swimming Club calendar of events
layout: single
---

{% include next_event.html %}

<section class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
      {% for event in site.data.events %}
        <div class="col mb-4">
          <div class="card h-100" id="{{ event.date | date: '%F' }}">
            <h2 class="card-header h6">
              {% include icon.html name='calendar-event' class='me-2' %}
              <span>{{ event.date | date: site.date_format }}</span>
              {% if event.week %}
                <span class="badge rounded-pill text-bg-dark ms-2 float-end">Week {{ event.week }}</span>
              {% endif %}
            </h2>
            <div class="card-body">
              <p class="card-text">{%- if event.description -%}{{- event.description -}}{%- else -%}&nbsp;{%- endif -%}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>{% include icon.html name='geo-alt' class='me-1' %} <a href="{{ event.location.url }}" target="_blank">{{ event.location.name }}</a></th>
                    <th>{%- if event.hosting -%}{% include icon.html name='cup-hot' class='me-1' %} {{ event.hosting }}{%- endif -%}</th>
                  </tr>
                </thead>
                {% if event.tides %}
                  <tbody class="table-group-divider">
                    {% for tide in event.tides %}
                      {% if tide.description == 'Low' %}
                        {% assign icon_name = 'arrow-down-circle' %}
                        {% assign icon_class = 'text-danger me-1' %}
                      {% else %}
                        {% assign icon_name = 'arrow-up-circle' %}
                        {% assign icon_class = 'text-success me-1' %}
                      {% endif %}
                      <tr{% if tide.closest %} class="table-light fw-bold"{% endif %}>
                        <td>{% include icon.html name='clock' class='me-1' %} {{ tide.time | date: site.time_format }}</td>
                        <td>{% include icon.html name=icon_name class=icon_class %} <span class="font-monospace">{{ tide.height }}</span>m</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% endif %}
              </table>
              {% if event.location.image %}
                <img class="img-fluid" alt="{{- event.location.name -}}" src="{{- '/assets/img/' | append: event.location.image | relative_url -}}">
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
