---
layout: null
---

@import "bootstrap/bootstrap";

$navbar-height: $navbar-brand-height + ($navbar-brand-padding-y * 2) + ($navbar-padding-y * 2) !default;

html {
  scroll-padding-top: $navbar-height;
}

header {
  background-color: {{ site.theme_color }};
}

.cover {
  background-image: url({{- '/assets/img/cover.jpg' | relative_url -}});
  background-position: 50% 60%;
  background-size: cover;
}

.supporters {
  background-color: {{ site.theme_color }};
  img {
    width: 35%;
  }
  @include media-breakpoint-up(md) {
    img {
      width: 40%;
    }
  }
  @include media-breakpoint-up(lg) {
    img {
      width: 50%;
    }
  }
  @include media-breakpoint-up(xl) {
    img {
      width: 45%;
    }
  }
}