{%- assign site_name = site.title | append: ' ' | append: site.subtitle -%}
{%- assign title = site_name -%}
{%- assign description = site.description -%}
{%- assign url = site.url -%}
{%- assign image = '/assets/img/image.jpg' | absolute_url -%}

{%- if page.url != '/' -%}
  {%- assign title = page.title | append: ' | ' | append: site_name -%}
  {%- assign description = page.description -%}
{%- endif -%}

{%- assign title = title | escape -%}
{%- assign description = description | escape -%}

<!doctype html>
<html lang="{{- site.language -}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="twitter:image:alt" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="{{ description }}">
    <meta property="og:locale" content="{{- site.language -}}_{{- site.region -}}">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/img/icon.svg' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/img/icon.svg' | relative_url }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top bg-body border-bottom shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="{{- '/' | relative_url -}}">
          <img src="{{- '/assets/img/icon.svg' | relative_url -}}" alt="{{- site.title -}}" width="45" height="45" class="d-inline-block align-text-middle me-2">
          {{- site.title -}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto">
            {% for item in site.data.navigation %}
              <li class="nav-item me-3">
                <a class="nav-link{% if page.url == item.navbar_url %} active{% endif %}" href="{{- item.navbar_url | relative_url -}}">{{- item.title -}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {{ content }}
    <nav class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
      <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{- '/' | relative_url -}}">
            <img src="{{- '/assets/img/icon.svg' | relative_url -}}" alt="{{- site.title -}}" width="45" height="45" class="d-inline-block align-text-middle me-2">
            {{- site.title -}}
          </a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      </nav>
      <div class="offcanvas-body">
        <ul class="nav flex-column">
          {% for item in site.data.navigation %}
            <li class="nav-item">
              <a class="nav-link{% if page.url == item.offcanvas_url %} active{% endif %}" href="{{- item.offcanvas_url | relative_url -}}">{{- item.title -}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <footer class="py-5 bg-body-tertiary border-top">
      <div class="container">
        <ul class="list-inline">
          {% for item in site.data.social %}
            <li class="list-inline-item"><a class="btn btn-dark" href="{{- item.url -}}" title="{{- item.title | escape -}}" target="_blank"><i class="bi bi-{{- item.icon -}}"></i></a></li>
          {% endfor %}
        </ul>
        <p class="small">&copy; 2023 {{ site.title }} {{ site.subtitle }}. All rights reserved.</p>
      </div>
    </footer>
    <script src="{{- '/assets/js/script.js' | relative_url -}}"></script>
  </body>
</html>