---
layout: page
---

<header class="cover py-5 text-white">
  <div class="container py-sm-5">
    <h1 class="display-4">{{ site.title }}</h1>
    <p class="h2">{{ site.subtitle }}</p>
    <p class="lead col-12 col-md-8 col-xl-6">{{ site.description }}</p>
    <div class="mb-3">
      <a href="#membership" class="btn btn-outline-light mb-3 mb-sm-0 me-3 d-block d-sm-inline-block">Join</a>
      <a href="#about" class="btn btn-outline-light border-0 d-block d-sm-inline-block">Find out more</a>
    </div>
  </div>
</header>

<main>
  {{ content }}
</main>
